Repository deforum-art/deforum-for-automatic1111-webui, pull requests merged in 2023-02, with the labels that each got.

#275 Hybrid Video Update 2
  requirements.txt
  scripts/deforum.py
  scripts/deforum_helpers/args.py
  scripts/deforum_helpers/hybrid_video.py
  scripts/deforum_helpers/render.py
Labels: enhancement, video input, 3D, 2D

#361 Finally! ControlNet support
  javascript/deforum-hints.js
  scripts/deforum.py
  scripts/deforum_helpers/args.py
  scripts/deforum_helpers/deforum_controlnet.py
  scripts/deforum_helpers/deforum_controlnet_hardcode.py
  scripts/deforum_helpers/generate.py
  scripts/deforum_helpers/render.py
  scripts/deforum_helpers/render_modes.py
  scripts/deforum_helpers/settings.py
  style.css
Labels: enhancement, help wanted, external, UI, video input, 3D, 2D, output

#379 Add timestring to output info
  scripts/deforum.py
Labels: enhancement, good first issue, UI

#339 Video to depth maps + anime character segmentation. May be useful to create video masks or silhouette-only videos
  scripts/deforum_helpers/args.py
  scripts/deforum_helpers/depth.py
  scripts/deforum_helpers/render.py
  scripts/deforum_helpers/vid2depth.py
  style.css
Labels: enhancement, 3D, output
